.section1{
    max-width: clamp(100%, 100vw, 100%);
    height: 100%;
    background-color: #f8e3b6;
}

.boasvindas{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 0% 5%;
    padding: 5% 0% 5% 0%;
}
.boasvindas h2{
 color: #834d1e;
}
.svgajuste{
    margin-left: 25%;

}
.bestseller{
    background-color: #834d1e;
    height: 15vh;
    max-width: clamp(70%, 70vw, 70%);
    display: flex;
    padding: 5%;
    margin: 0% 5% 0% 5%;
    margin: auto;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301); 
    border-radius: 19px;
 
}

.coluna{
    flex-direction: column;
    width: 50%;
    line-height: 150%;
    

}
.coluna h3{
    font-size: 0.7em;
    color: #f3e3bf;
    font-weight: 200;
   
}
.coluna h4{
    font-size: 1.1em;
    color: #f3e3bf;
    font-weight: 600;
}
.coluna p{
    font-size: 0.7em;
    color: #f3e3bf;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.svggg{
    padding-top: 10%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.recomendacao{
    
 
    margin: 11% 5% 0% 5%;
    height: 40vh;
}
.recomendacao h2{
    font-size: 1.1em;
    color: #834d1e;
    font-weight: 600;
}
.seshfoto{
    position: relative; /* Necessário para posicionar o texto sobre a imagem */
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

.text-overlay {
    position: absolute; 
    right: 0;
    bottom: 0; 
    margin-right: 13%;

    color: white; 
    padding-bottom: 2%;
    text-align: end; 
    border-radius: 14px;
  }
  .text-overlay2 {
    position: absolute; 
    left: 0;
    bottom: 0; 
    margin-left: 3%;
   
padding-bottom: 2%;
    text-align: end; 
    border-radius: 14px;
  }
  .text-overlay2 h4, p{
    font-weight: 400;
    line-height: 170%;
    color: #f8e3b6;
  }
    
  .text-overlay h4, p{
    color: #f8e3b6;
    font-weight: 400;
    line-height: 170%;
  }
.recomendacaosegundo{
  
    height: 40vh;
    text-align: center;
}
.wrapp{
        font-size: 1.2em;
        color: #834d1e;
        font-weight: 600; 
        margin: 1% 5% 0% 5%;
}
.wrapp h2{
    margin: 1% 5% 5% 5%;
}
.caixa-imagem-letras{

}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: #834d1e;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}











/* Menu lateral hamburger */
.menu-lateral {
    position: fixed;
    top: 0;
    left: -300px; /* Esconde o menu fora da tela */
    width: 300px;
    height: 100vh;
    background-color:  #834d1e;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease; /* Transição suave */
    z-index: 999;
  }
  
  /* Links do menu */
  .menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 15% 0 0;
  }
  
  .menu-lateral ul li {
    padding: 5% 10%;
  }
  
  .menu-lateral ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    display: block;
    transition: background-color 0.3s;
  }
  
  .menu-lateral ul li a:hover {
    background: linear-gradient(90deg,  #6d4019, #834d1e);
    border-radius: 5px;

  }
  
  /* Menu ativo (visível) */
  .menu-lateral.active {
    left: 0; /* Move o menu para dentro da tela */
  }